body{
	margin:0;
	background-color: #F7F7F7;
}
#topnav{
	font-family: helvetica;
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 10px;
}
.links {
	color: #ADADAD;
	text-decoration: none;
	padding: 5px;
}
.links:hover{
	color: #6D6D6D;
}
#hamburger:hover{
	border: solid;
	background-color: #6D6D6D;
	color: #FFF;
}

#logo-container{
	text-align: center;
	margin-top: 100px;
	padding: 0;
	margin: 0;
	margin-top: 60px; 
}
#ducklogo {
	width: 125px;
	display: inline;
}
#logo-name{
	color: #4C4C4C;
	font-size: 35px;
	font-family: helvetica;
	font-weight: 100;
	text-decoration: none;
	margin-top: 15px;
}
#searchbar-container{
	position: relative;
}
#searchbar-container .fas{
	position: absolute;
	left: 0px;
	right: 0px;
	color: #ADADAD;
	height: 20px;
	bottom: 9px;
	left: 450px;
	border: none;

}
#searchbar-container .fas:hover{
	background: ;
	color: #FFF;
}
#input-container{
	overflow:hidden;
	margin:0;
	padding:0;
	width: 500px;
	height:40px;
}

#tagline{
	color: #ADADAD;
	font-family: helvetica;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 60px;
}

#tagline p{
	display: inline;
}
#tagline a{
	text-decoration: none;
	color: #549ED7;
}
#teaser img{
	height: 70px;
	opacity: .7;
	margin-bottom: 40px;
}

.content-ads{
	text-align: center;
	color: #FFFFFF;
	font-family: helvetica;
	font-size: 24px;
	padding-top: 20px;
	line-height: 1.4;
	margin: 0;
}

.content-ads p{
	font-size: 18px;
	line-height: 1.6;
}

#privacy-ad{
	background-color: #58B792;
}
#privacy-ad button{
	padding: 12px 16px;
    text-decoration: none;
    line-height: 100%;
    color: #FFF;
    background: #356E58;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}
#privacy-ad button:hover{
	background-color: #2C5B49;
	color: #FFF;
}

#history-ad{
	background-color: #F5A339;
}
#history-ad button{
	padding: 12px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #936222;
    border: none;
    border-radius: 4px;
}
#history-ad button:hover{
	background-color: #7A511C;
	color: #FFF;
}
#tracking-ad{
	background-color: #5F63BD;
}
#tracking-ad button{
	padding: 12px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #393B71;
    border: none;
    border-radius: 4px;
}
#tracking-ad button:hover{
	background-color: #2F315E;
	color: #FFF;
}
/*footer*/
#footer-container{
	background-color: #87cef5;
	margin: 0;
}
.footer-ad {
	color: #365374;
	text-align: center;
	font-family: helvetica;
	font-size: 36px;
	padding-top: 20px;
	line-height: 1.4;
	margin: 0;
}
.footer-ad button{
	padding: 12px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #365374;
    border: none;
    border-radius: 4px;
}
.footer-ad p{
	font-size: 18px;
	line-height: 1.6;
}
.footer-ad button:hover{
	background-color: #41658D;
	color: #FFF;
}
